.container-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right:2rem;
    padding-left:2rem;
    border-radius: 25px;
    margin-bottom: 2rem;
    border: 1px solid white;
}

.container-row-center {
    display: flex;
    align-items: center;
}

.wrapper-form {
    width: 40%;
}

mat-form-field {
    width: 100%;
}