<div class="container-col-center">
    <h1>Upload a video</h1>
    <div class="wrapper-form">
        <form [formGroup]="formGroup">
            <div class="container-col-center inputs">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
                <app-select-file    [control]="formGroup.controls.video"
                                    buttonText="Choose a video">
                </app-select-file>
                <br>
                <app-select-file    [control]="formGroup.controls.miniature"
                                    buttonText="Choose a miniature">
                </app-select-file>
            </div>
        </form>
    </div>
    <button mat-raised-button color="primary"
        (click)="submitForm()">Submit
    </button>
</div>
<!-- <mat-spinner></mat-spinner> -->